package-db: /Users/svdberg/Documents/Projects/Haskell/milkmachine/cabal-dev/packages-7.4.2.conf
local-repo: /Users/svdberg/Documents/Projects/Haskell/milkmachine/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/svdberg/.cabal/packages
world-file: /Users/svdberg/.cabal/world
build-summary: /Users/svdberg/Documents/Projects/Haskell/milkmachine/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /Users/svdberg/Documents/Projects/Haskell/milkmachine/cabal-dev/
install-dirs global
  prefix: /Users/svdberg/Documents/Projects/Haskell/milkmachine/cabal-dev/